<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading"
             nbSpinnerStatus="basic"
             nbSpinnerMessage="">
      <nb-card-header class="cabecalho">Cadastro de Ordem de Serviço</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onSubmit()" [formGroup]="form" #formDir="ngForm">
          <div class="row">
            <div class="col-sm-4">
              <label for="cliente" class="label">Cliente</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="cliente" [fullWidth]="fullWidth"
                           [(selected)]="selectedCliente" [compareWith]="compareById"
                           [ngClass]="{'select-error' : submitted && hasError('cliente')}"
                           formControlName="cliente">
                  <nb-option *ngFor="let cliente of clientes" [value]="cliente">
                    {{cliente !== undefined ? cliente["nome"] : ''}}
                  </nb-option>
                </nb-select>
                <div *ngIf="hasError('cliente') && formDir.submitted" class="erro-validation">
                  O cliente é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="usuario" class="label">Técnico</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="usuario" [fullWidth]="fullWidth"
                           [(selected)]="selectedUsuario" [compareWith]="compareById"
                           [ngClass]="{'select-error' : submitted && hasError('usuario')}"
                           formControlName="usuario">
                  <nb-option *ngFor="let usuario of usuarios" [value]="usuario">
                    {{usuario !== undefined ? usuario["nome"] : ''}}
                  </nb-option>
                </nb-select>
                <div *ngIf="hasError('usuario') && formDir.submitted" class="erro-validation">
                  Técnico é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="data" class="label">Data do atendimento</label>
              <div class="form-group">
                <input class="form-control" [nbDatepicker]="picker"
                       [ngClass]="{'is-invalid' : submitted && hasError('data')}"
                       nbInput fullWidth id="data" placeholder="Data do chamado"
                       formControlName="data">
                <nb-datepicker #picker [min]="dataMinima" [max]="dataMaxima"></nb-datepicker>
                <div *ngIf="hasError('data') && formDir.submitted" class="erro-validation">
                  A data é obrigatória.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="tipoAtendimento" class="label">Tipo atendimento</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="tipoAtendimento"
                           [ngClass]="{'select-error' : submitted && hasError('tipoAtendimento')}"
                           [fullWidth]="fullWidth" formControlName="tipoAtendimento">
                  <nb-option value="Chamado">Chamado</nb-option>
                  <nb-option value="Preventiva">Preventiva</nb-option>
                  <nb-option value="Corretiva">Corretiva</nb-option>
                  <nb-option value="Garantia">Garantia</nb-option>
                  <nb-option value="Visita Técnica">Visita Técnica</nb-option>
                </nb-select>
                <div *ngIf="hasError('tipoAtendimento') && formDir.submitted" class="erro-validation">
                  Tipo Atendimento é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="equipamento" class="label">Equipamento</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="equipamento" [fullWidth]="fullWidth"
                           [(selected)]="selectedEquipamento" [compareWith]="compareById"
                           [ngClass]="{'select-error' : submitted && hasError('equipamento')}"
                           formControlName="equipamento">
                  <nb-option *ngFor="let equipamento of equipamentos" [value]="equipamento">
                    {{equipamento !== undefined ? equipamento["nomeEquipamento"] : ''}}
                  </nb-option>
                </nb-select>
                <div *ngIf="hasError('equipamento') && formDir.submitted" class="erro-validation">
                  Técnico é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label class="label">Serviços</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="servicos" [fullWidth]="fullWidth"
                           [(selected)]="selectedServico" [compareWith]="compareById" multiple
                           [ngClass]="{'select-error' : submitted && hasError('servicos')}"
                           formControlName="servicos">
                  <nb-option *ngFor="let servico of servicos" [value]="servico">
                    {{servico !== undefined ? servico["nome"] : ''}}
                  </nb-option>
                </nb-select>
                <div *ngIf="hasError('servicos') && formDir.submitted" class="erro-validation">
                  Serviço é obrigatório.
                </div>
              </div>
            </div>
          </div>

<!--          <div class="row">-->
<!--            <div class="col-sm-6 text-center">-->
<!--              <label class="label">Deseja inserir algum produto?</label>-->
<!--              <div class="form-group">-->
<!--                <ng-toggle-->
<!--                  (valueChange)="addProduto($event)"-->
<!--                  formControlName="produtos"-->
<!--                  onText="SIM"-->
<!--                  offText="NÃO"-->
<!--                  onColor="success"-->
<!--                  offColor="danger">-->
<!--                </ng-toggle>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6" [hidden]="hiddenProduto">-->
<!--              <label for="cliente" class="label">Produtos</label>-->
<!--              <nb-card-body>-->
<!--                <ng2-smart-table [settings]="settings"-->
<!--                                 [source]="source"-->
<!--                                 (edit)="onDeleteConfirm($event)"-->
<!--                                 (create)="onDeleteConfirm($event)"-->
<!--                                 (deleteConfirm)="onDeleteConfirm($event)"-->
<!--                                 (createConfirm)="onAddClient($event)"-->
<!--                                 (editConfirm)="onEditConfirm($event)">-->
<!--                </ng2-smart-table>-->
<!--              </nb-card-body>-->
<!--            </div>-->
<!--          </div>-->


          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" formGroupName="ordemServicoItem">
                <label for="observacao" class="label">Observações</label>
                <textarea rows="5" id="observacao" formControlName="observacao"
                          nbInput fullWidth shape="round"
                          placeholder="Informe alguma observação se julgar necessário"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group text-center">
                <div class="form-group">
                  <label class="label">Selecione o Tipo do Chamado</label>
                </div>
                <ng-toggle
                  onColor="success"
                  (valueChange)="onChange($event)"
                  formControlName="tipoOrdemServico"
                  onText="SELF"
                  offText="FAN COIL"
                  offColor="danger">
                </ng-toggle>
              </div>
            </div>
          </div>

          <div [hidden]="hiddenSelf === undefined && hiddenFanCoil === undefined" formGroupName="ordemServicoItem">
            <div class="row" >
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="tensaoGeralRS" class="label">Geral R-S</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control" [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.tensaoGeralRS')}"
                         id="tensaoGeralRS" placeholder="115V" formControlName="tensaoGeralRS">
                  <div *ngIf="hasError('ordemServicoItem.tensaoGeralRS') && formDir.submitted" class="invalid-feedback">
                    Geral R-S é obrigatório.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="tensaoGeralST" class="label">Geral S-T</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control" [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.tensaoGeralST')}"
                         id="tensaoGeralST" placeholder="115V" formControlName="tensaoGeralST">
                  <div *ngIf="hasError('ordemServicoItem.tensaoGeralST') && formDir.submitted" class="invalid-feedback">
                    Geral S-T é obrigatório.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="tensaoGeralRT" class="label">Geral R-T</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control" [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.tensaoGeralRT')}"
                         id="tensaoGeralRT" placeholder="115V" formControlName="tensaoGeralRT">
                  <div *ngIf="hasError('ordemServicoItem.tensaoGeralRT') && formDir.submitted" class="invalid-feedback">
                    Geral R-T é obrigatório.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="tensaoGeralRT" class="label">Corrente A1</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.correnteA1')}"
                         id="correnteA1" placeholder="150v" formControlName="correnteA1">
                  <div *ngIf="hasError('ordemServicoItem.correnteA1') && formDir.submitted" class="invalid-feedback">
                    Corrente A1 é obrigatório.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="correnteA2" class="label">Corrente A2</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.correnteA2')}"
                         id="correnteA2" placeholder="130V" formControlName="correnteA2">
                  <div *ngIf="hasError('ordemServicoItem.correnteA2') && formDir.submitted" class="invalid-feedback">
                    Corrente A2 é obrigatório.
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="correnteA3" class="label">Corrente A3</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.correnteA3')}"
                         id="correnteA3" placeholder="127V" formControlName="correnteA3">
                  <div *ngIf="hasError('ordemServicoItem.correnteA3') && formDir.submitted" class="invalid-feedback">
                    Corrente A3 é obrigatório.
                  </div>
                </div>
              </div>

<!--              Coluna 2-->

              <div class="col-sm-3">
                <div class="form-group">
                  <label for="motorEvaporadorA1A2A3" class="label">Corr Evapo A1/A2/A3</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.motorEvaporadorA1A2A3')}"
                         id="motorEvaporadorA1A2A3" placeholder="00,0/00,0/00,0" formControlName="motorEvaporadorA1A2A3">
                  <div *ngIf="hasError('ordemServicoItem.motorEvaporadorA1A2A3') && formDir.submitted" class="invalid-feedback">
                    Corr Evapo A1/A2/A3 A2 é obrigatório.
                  </div>
                </div>
              </div>

              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="compressorRSRTST" class="label">Compre R-S/R-T/S-T</label>
                  <input type="text" mask="000/000/000" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.compressorRSRTST')}"
                         id="compressorRSRTST" placeholder="000/000/000" formControlName="compressorRSRTST">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="compressorA1A2A3" class="label">Compre A1/A2/A3</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.compressorA1A2A3')}"
                         id="compressorA1A2A3" placeholder="00,0/00,0/00,0" formControlName="compressorA1A2A3">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="condensadorDryRSRTST" class="label">Cond/Dry R-S/R-T/S-T</label>
                  <input type="text" mask="000/000/000" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         id="condensadorDryRSRTST" placeholder="000/000/000" formControlName="condensadorDryRSRTST">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="motorCondensadorA1A2A3" class="label">Mt Cond A1/A2/A3</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.motorCondensadorA1A2A3')}"
                         id="motorCondensadorA1A2A3" placeholder="00,0/00,0/00,0" formControlName="motorCondensadorA1A2A3">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="temperaturaLinhaLiquido" class="label">Temp Linha Liquido</label>
                  <input type="text" mask="00/00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         id="temperaturaLinhaLiquido" placeholder="00/00ºC" formControlName="temperaturaLinhaLiquido">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="temperaturaLinhaEntradaSuccao" class="label">Temp Lin Entr Suc</label>
                  <input type="text" mask="00/00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         id="temperaturaLinhaEntradaSuccao" placeholder="00/00ºC" formControlName="temperaturaLinhaEntradaSuccao">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="pressaoBaixa" class="label">Pressão Baixa</label>
                  <input type="text" mask="00/00" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.pressaoBaixa')}"
                         id="pressaoBaixa" placeholder="00/00" formControlName="pressaoBaixa">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="pressAlta" class="label">Pressão Alta</label>
                  <input type="text" mask="000/000" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.pressAlta')}"
                         id="pressAlta" placeholder="000/000" formControlName="pressAlta">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="superAquecimento" class="label">Superaquecimento</label>
                  <input type="text" mask="00/00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.superAquecimento')}"
                         id="superAquecimento" placeholder="00/00ºC" formControlName="superAquecimento">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="subResfriamento" class="label">Sub-resfriamento</label>
                  <input type="text" mask="00/00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.subResfriamento')}"
                         id="subResfriamento" placeholder="00/00ºC" formControlName="subResfriamento">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="aberturaValvulaG" class="label">Abertura Válvula G</label>
                  <input type="text" mask="00,0/00,0" suffix="%" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.aberturaValvulaG')}"
                         id="aberturaValvulaG" placeholder="00,0/00,0 %" formControlName="aberturaValvulaG">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="temperaturaEntradaAguaCondensada" class="label">Temp Ent Água Con</label>
                  <input type="text" mask="00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaEntradaAguaCondensada')}"
                         id="temperaturaEntradaAguaCondensada" placeholder="00,0/00,0" formControlName="temperaturaEntradaAguaCondensada">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="temperaturaSaidaAguaCondensada" class="label">Temp Sai Água Con</label>
                  <input type="text" mask="00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaSaidaAguaCondensada')}"
                         id="temperaturaSaidaAguaCondensada" placeholder="00,0/00,0" formControlName="temperaturaSaidaAguaCondensada">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenFanCoil">
                <div class="form-group">
                  <label for="diferencialFiltroSecador" class="label">Dif Filtro Secador</label>
                  <input type="text" mask="00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.diferencialFiltroSecador')}"
                         id="diferencialFiltroSecador" placeholder="00,0/00,0" formControlName="diferencialFiltroSecador">
                </div>
              </div>


              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="alimentacaoComando24" class="label">Comando 24v</label>
                  <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.alimentacaoComando24')}"
                         id="alimentacaoComando24" placeholder="127V" formControlName="alimentacaoComando24">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="aquecimentoResistencia" class="label">Aq Resistência</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.aquecimentoResistencia')}"
                         id="aquecimentoResistencia" placeholder="00,0/00,0/00,0" formControlName="aquecimentoResistencia">
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label for="umidificadorRSRTST" class="label">Umid R-S/R-T/S-T</label>
                  <input type="text" mask="000/000/000" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.umidificadorRSRTST')}"
                         id="umidificadorRSRTST" placeholder="000/000/000" formControlName="umidificadorRSRTST">
                </div>
                <div *ngIf="hasError('ordemServicoItem.umidificadorRSRTST') && formDir.submitted" class="invalid-feedback">
                  Umid R-S/R-T/S-T A2 é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="umidificadorA1A2A3" class="label">Umid A1/A2/A3</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.umidificadorA1A2A3')}"
                         id="umidificadorA1A2A3" placeholder="00,0/00,0/00,0" formControlName="umidificadorA1A2A3">
                </div>
                <div *ngIf="hasError('ordemServicoItem.umidificadorA1A2A3') && formDir.submitted" class="invalid-feedback">
                  Umid A1/A2/A3 é obrigatório.
                </div>
              </div>

              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="temperaturaEntradaAguaGelada" class="label">Entrada Água Gel</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaEntradaAguaGelada')}"
                         id="temperaturaEntradaAguaGelada" placeholder="00,0/00,0/00,0" formControlName="temperaturaEntradaAguaGelada">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="temperaturaSaidaAguaGelada" class="label">Saída Água Gel</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaSaidaAguaGelada')}"
                         id="temperaturaSaidaAguaGelada" placeholder="00,0/00,0/00,0" formControlName="temperaturaSaidaAguaGelada">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="diferencialTemperaturaEntradaSaida" class="label">Dif Temp ENT SAID</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.diferencialTemperaturaEntradaSaida')}"
                         id="diferencialTemperaturaEntradaSaida" placeholder="00,0/00,0/00,0" formControlName="diferencialTemperaturaEntradaSaida">
                </div>
              </div>
              <div class="col-sm-3" [hidden]="hiddenSelf">
                <div class="form-group">
                  <label for="aberturaValvulaAguaGelada" class="label">Valvula Água Gelada</label>
                  <input type="text" mask="00,0/00,0/00,0" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.aberturaValvulaAguaGelada')}"
                         id="aberturaValvulaAguaGelada" placeholder="00,0/00,0/00,0" formControlName="aberturaValvulaAguaGelada">
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label for="vazaoAr" class="label">Vazão de Ar</label>
                  <input type="text" mask="00" suffix="%" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.vazaoAr')}"
                         id="vazaoAr" placeholder="00%" formControlName="vazaoAr">
                </div>
                <div *ngIf="hasError('ordemServicoItem.vazaoAr') && formDir.submitted" class="invalid-feedback">
                  Vazão de Ar é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="temperaturaRetorno" class="label">Temp Retorno</label>
                  <input type="text" mask="00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaRetorno')}"
                         id="temperaturaRetorno" placeholder="00ºC" formControlName="temperaturaRetorno">
                </div>
                <div *ngIf="hasError('ordemServicoItem.temperaturaRetorno') && formDir.submitted" class="invalid-feedback">
                  Temp Retorno é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="umidadeRelativaRetorno" class="label">Umd Relat Retorno</label>
                  <input type="text" mask="00" suffix="%" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.umidadeRelativaRetorno')}"
                         id="umidadeRelativaRetorno" placeholder="00%" formControlName="umidadeRelativaRetorno">
                </div>
                <div *ngIf="hasError('ordemServicoItem.umidadeRelativaRetorno') && formDir.submitted" class="invalid-feedback">
                  Umd Relat Retorno é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="temperaturaInsuflacao" class="label">Temp Insuflação</label>
                  <input type="text" mask="00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.temperaturaInsuflacao')}"
                         id="temperaturaInsuflacao" placeholder="00ºC" formControlName="temperaturaInsuflacao">
                </div>
                <div *ngIf="hasError('ordemServicoItem.temperaturaInsuflacao') && formDir.submitted" class="invalid-feedback">
                  Temp Insuflação é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="diferencialEntradaSaidaAr" class="label">Difencial Ent/Sai Ar</label>
                  <input type="text" mask="00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.diferencialEntradaSaidaAr')}"
                         id="diferencialEntradaSaidaAr" placeholder="00ºC" formControlName="diferencialEntradaSaidaAr">
                </div>
                <div *ngIf="hasError('ordemServicoItem.diferencialEntradaSaidaAr') && formDir.submitted" class="invalid-feedback">
                  Difencial Ent/Sai Ar é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="setPointResfriamento" class="label">Set point Resf</label>
                  <input type="text" mask="00" suffix="ºC" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.setPointResfriamento')}"
                         id="setPointResfriamento" placeholder="00ºC" formControlName="setPointResfriamento">
                </div>
                <div *ngIf="hasError('ordemServicoItem.setPointResfriamento') && formDir.submitted" class="invalid-feedback">
                  Set point Resf é obrigatório.
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="setPointUmidade" class="label">Set point Umidade</label>
                  <input type="text" mask="00" suffix="%" nbInput fullWidth [dropSpecialCharacters]="false"
                         class="form-control"
                         [ngClass]="{'is-invalid' : submitted && hasError('ordemServicoItem.setPointUmidade')}"
                         id="setPointUmidade" placeholder="00%" formControlName="setPointUmidade">
                </div>
                <div *ngIf="hasError('ordemServicoItem.umidadeRelativaRetorno') && formDir.submitted" class="invalid-feedback">
                  Set point Umidade é obrigatório.
                </div>
              </div>

<!--              Campos OK/NA-->

              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Filtro Y</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'filtroY')"
                    formControlName="filtroY"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Vaz Agua Gel</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarVazamentoAguaGelada')"
                    formControlName="verificarVazamentoAguaGelada"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Pre Dif Fil Suj</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarPressaoDiferencialFiltroSujo')"
                    formControlName="verificarPressaoDiferencialFiltroSujo"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Pre Dif Flx Ar</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarPressaoDiferencialFiltroAr')"
                    formControlName="verificarPressaoDiferencialFiltroAr"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Bloq Água Gel</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarValvulaBloqueioAguaGelada')"
                    formControlName="verificarValvulaBloqueioAguaGelada"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Alm Dren Umd</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarAlimentacaoDrenoUmidificador')"
                    formControlName="verificarAlimentacaoDrenoUmidificador"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Com IHM</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarComunicacaoIHM')"
                    formControlName="verificarComunicacaoIHM"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Off Temp Umd</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarOffSetSensorTemperaturaUmidade')"
                    formControlName="verificarOffSetSensorTemperaturaUmidade"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Test Damp</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'testeDampers')"
                    formControlName="testeDampers"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Hist Evn IHM</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'averiguarHistoricoEventosIHM')"
                    formControlName="averiguarHistoricoEventosIHM"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Isol Term Acu</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'verificarIsolamentoTermicasAcustico')"
                    formControlName="verificarIsolamentoTermicasAcustico"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Elim Pts Corr</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarEliminarPontosCorrosao')"
                    formControlName="verificarEliminarPontosCorrosao"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Sist Dren</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'verificarSistemaDrenagem')"
                    formControlName="verificarSistemaDrenagem"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Limpeza</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'limpeza')"
                    formControlName="limpeza"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Painel Elétrico</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'painelEletrico')"
                    formControlName="painelEletrico"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Serp Evap</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'serpentinaEvaporador')"
                    formControlName="serpentinaEvaporador"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Gabinete</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'gabinete')"
                    formControlName="gabinete"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Filtro de Ar</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'filtroAr')"
                    formControlName="filtroAr"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Bandeija</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'bandeja')"
                    formControlName="bandeja"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Rui Anor Evp</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'ruidosAnormaisEvaporador')"
                    formControlName="ruidosAnormaisEvaporador"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenSelf">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Defletores</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA', 'verificarDefletores')"
                    formControlName="verificarDefletores"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Det Ág Piso</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'deteccaoAguaPiso')"
                    formControlName="deteccaoAguaPiso"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Casa Máq</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'casaMaquinas')"
                    formControlName="casaMaquinas"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>
              <div class="col-sm-2" [hidden]="hiddenFanCoil">
                <div class="form-group text-center">
                  <div class="form-group">
                    <label class="label">Rui Anor Cnd</label>
                  </div>
                  <ng-toggle
                    (valueChange)="onChangeValue($event === true ? 'OK' : 'NA',  'ruidosAnormaisCondensador')"
                    formControlName="ruidosAnormaisCondensador"
                    onColor="success"
                    onText="OK"
                    offText="NA"
                    offColor="primary">
                  </ng-toggle>
                </div>
              </div>








            </div>
          </div>

          <div class="row submit">
            <button class="col-md-2" type="submit" (click)="onCancel()" nbButton status="danger">
              Cancelar
            </button>
            <button class="col-md-2" type="submit" nbButton status="success">
              Salvar
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
