api-sistemachamados/HELP.md
api-sistemachamados/target/
!api-sistemachamados/.mvn/wrapper/maven-wrapper.jar
!api-sistemachamados/**/src/main/**/target/
!api-sistemachamados/**/src/test/**/target/
api-sistemachamados/src/main/resources/application.properties
api-sistemachamados/target

### STS ###
api-sistemachamados/.apt_generated
api-sistemachamados/.classpath
api-sistemachamados/.factorypath
api-sistemachamados/.project
api-sistemachamados/.settings
api-sistemachamados/.springBeans
api-sistemachamados/.sts4-cache

### IntelliJ IDEA ###
api-sistemachamados/.idea
api-sistemachamados/*.iws
api-sistemachamados/*.iml
api-sistemachamados/*.ipr
api-sistemachamados/*.target
*/target/*.

### NetBeans ###
api-sistemachamados//nbproject/private/
api-sistemachamados/build/
!api-sistemachamados/**/src/main/**/build/
!api-sistemachamados/**/src/test/**/build/

.idea/*
api-sistemachamados/src/main/resources/application.yml
api-sistemachamados/target

api-sistemachamados/src/main/resources/application.yml

