api-sistemachamados/HELP.md
api-sistemachamados/target/
!api-sistemachamados/.mvn/wrapper/maven-wrapper.jar
!api-sistemachamados/**/src/main/**/target/
!api-sistemachamados/**/src/test/**/target/
api-sistemachamados/src/main/resources/application.properties

### STS ###
api-sistemachamados/.apt_generated
api-sistemachamados/.classpath
api-sistemachamados/.factorypath
api-sistemachamados/.project
api-sistemachamados/.settings
api-sistemachamados/.springBeans
api-sistemachamados/.sts4-cache

### IntelliJ IDEA ###
api-sistemachamados/.idea
api-sistemachamados/*.iws
api-sistemachamados/*.iml
api-sistemachamados/*.ipr
api-sistemachamados/*.target
*/target/*.

### NetBeans ###
api-sistemachamados//nbproject/private/
api-sistemachamados//nbbuild/
api-sistemachamados//dist/
api-sistemachamados//nbdist/
api-sistemachamados//.nb-gradle/
api-sistemachamados/build/
!api-sistemachamados/**/src/main/**/build/
!api-sistemachamados/**/src/test/**/build/

### VS Code ###
api-sistemachamados/.vscode/
.idea/*
api-sistemachamados/src/main/resources/application.yml
*/target/*.

