@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.cabecalho {
  font-size: 28px;
}

.perPage{
  margin-bottom: 0.3rem;
}

:host ::ng-deep {
  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-custom {
    display: flex;
    text-align: center;
  }

  ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
  }
}
