<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header class="cabecalho">Cadastro de Cliente</nb-card-header>
    </nb-card>
    <nb-card [nbSpinner]="loading"
             nbSpinnerStatus="basic"
             nbSpinnerMessage="">
      <nb-card-body>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nome" class="label">Nome</label>
                <input type="text" nbInput fullWidth id="nome" placeholder="Informe nome do cliente" formControlName="nome">
              </div>
            </div>
            <div class="col-sm-2">
              <label for="tipoPessoa" class="label">Tipo Pessoa</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="tipoPessoa" [fullWidth]="fullWidth" formControlName="tipoPessoa">
                  <nb-option value="Física">Física</nb-option>
                  <nb-option value="Juridica">Juridica</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="cpfCnpj" class="label">CPF/CNPJ</label>
                <input type="text" mask="CPF_CNPJ" nbInput fullWidth id="cpfCnpj" placeholder="Informe CPF ou CNPJ" formControlName="cpfCnpj">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="endereco" class="label">Endereço</label>
                <input type="text" nbInput fullWidth id="endereco" placeholder="Informe endereço" formControlName="endereco">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="numero" class="label">Número</label>
                <input type="text" nbInput fullWidth id="numero" placeholder="Informe número" formControlName="numero">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label for="estado" class="label">Estado</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="estado" [fullWidth]="fullWidth" formControlName="cidade"
                (selectedChange)="carregarCidadeEstadoId($event)">
                  <nb-option *ngFor="let estado of estados" [value]="estado" >
                    {{estado !== undefined ? estado["nome"] : ''}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="cidade" class="label">Cidade</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="cidade" [fullWidth]="fullWidth" formControlName="cidade">
                  <nb-option *ngFor="let cidade of cidades" [value]="cidade">
                    {{cidade !== undefined ? cidade["nome"] : ''}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="contato1" class="label">Contato</label>
                <input type="text" mask='(00) 0 0000-0000 || (00) 0000-0000' nbInput fullWidth id="contato1" placeholder="Informe contato" formControlName="contato1">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="contato2" class="label">Recado</label>
                <input type="text" mask='(00) 0 0000-0000 || (00) 0000-0000' nbInput fullWidth id="contato2" placeholder="Informe de recado" formControlName="contato2">
              </div>
            </div>
          </div>


          <br>
          <div class="row submit">
            <button class="col-md-2" type="submit" (click)="onCancel()" nbButton status="danger">
              Cancelar
            </button>
            <button class="col-md-2" type="submit" (click)="onSubmit()" nbButton status="success">
              Salvar
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
