<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading"
             nbSpinnerStatus="basic"
             nbSpinnerMessage="">
      <nb-card-header class="cabecalho">Cadastro de Marca</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onSubmit()" [formGroup]="form" #formDir="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nomeMarca" class="label">Nome da Marca</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid' : submitted && hasError('nomeMarca')}"
                       nbInput fullWidth id="nomeMarca" placeholder="Informe nome da marca" formControlName="nomeMarca">
                <div *ngIf="hasError('nomeMarca') && formDir.submitted " class="invalid-feedback">
                  O nome da marca é obrigatório.
                </div>
              </div>
            </div>
          </div>

          <div class="row submit">
            <button class="col-md-2" type="submit" (click)="onCancel()" nbButton status="danger">
              Cancelar
            </button>
            <button class="col-md-2" type="submit" nbButton status="success">
              Salvar
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
