<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading"
             nbSpinnerStatus="basic"
             nbSpinnerMessage="">
      <nb-card-header class="cabecalho">Cadastro de Equipamento</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onSubmit()" [formGroup]="form" #formDir="ngForm">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
                <label for="nomeEquipamento" class="label">Nome Equipamento</label>
                <input type="text" class="form-control"
                       [ngClass]="{'is-invalid' : submitted && hasError('nomeEquipamento')}"
                       nbInput fullWidth id="nomeEquipamento" placeholder="Informe nome do produto"
                       formControlName="nomeEquipamento">
                <div *ngIf="hasError('nomeEquipamento') && formDir.submitted " class="invalid-feedback">
                  O nome do equipamento é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="numeroSerie" class="label">Número de série</label>
                <input type="text" nbInput fullWidth class="form-control" maxlength="20"
                       [ngClass]="{'is-invalid' : submitted && hasError('numeroSerie')}"
                       id="numeroSerie" placeholder="Informe o número de série" formControlName="numeroSerie">
                <div *ngIf="hasError('numeroSerie') && formDir.submitted " class="invalid-feedback">
                  O número de série é obrigatório.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="tensao" class="label">Tensão</label>
                <input type="text" mask="000" suffix="V" nbInput fullWidth [dropSpecialCharacters]="false"
                       class="form-control"
                       [ngClass]="{'is-invalid' : submitted && hasError('tensao')}"
                       id="tensao" placeholder="Informe a tensão" formControlName="tensao">
                <div *ngIf="hasError('tensao') && formDir.submitted" class="invalid-feedback">
                  Tensão é obrigatório.
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="amperagem" class="label">Amperagem</label>
                <input type="text" mask="00000" [validation]="false" suffix="V" nbInput fullWidth class="form-control"
                       [ngClass]="{'is-invalid' : submitted && hasError('amperagem')}"
                       id="amperagem" placeholder="Informe a amperagem" formControlName="amperagem">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="tag" class="label">Tag</label>
                <input type="text" nbInput fullWidth class="form-control"
                       [ngClass]="{'is-invalid' : submitted && hasError('tag')}"
                       id="tag" placeholder="Informe a tag" formControlName="tag">
              </div>
            </div>
            <div class="col-sm-3">
              <label for="marca" class="label">Marca</label>
              <div class="form-group">
                <nb-select placeholder="Selecione" id="marca" [fullWidth]="fullWidth"
                           [(selected)]="selectedMarca" [compareWith]="compareById"
                           [ngClass]="{'select-error' : submitted && hasError('marca')}"
                           formControlName="marca">
                  <nb-option *ngFor="let marca of marcas" [value]="marca">
                    {{marca !== undefined ? marca["nomeMarca"] : ''}}
                  </nb-option>
                </nb-select>
                <div *ngIf="hasError('marca') && formDir.submitted" class="erro-validation">
                  A marca é obrigatória.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="especificacaoTecnica" class="label">Descrição do serviço</label>
                <textarea rows="5" id="especificacaoTecnica" formControlName="especificacaoTecnica"
                          nbInput fullWidth shape="round"
                          placeholder="Informe a descrição do serviço realizado"></textarea>
              </div>
            </div>
          </div>
          <div class="row submit">
            <button class="col-md-2" type="submit" (click)="onCancel()" nbButton status="danger">
              Cancelar
            </button>
            <button class="col-md-2" type="submit" nbButton status="success">
              Salvar
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
